# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages of Data Science
* List commonly used libraries of Data Science
* Some Data Science Tools
* Listing Basic Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia
7. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. TensorFlow
7. Keras
8. SciPy
9. BeautifulSoup
10. Scrapy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition

In [31]:
5+3

8

2. Subtraction

In [13]:
10-4

6

3. Multiplication

In [16]:
7*2

14

4. Division

In [19]:
15/3

5.0

This a simple arithmetic expression to mutiply then add integers

In [21]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [27]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author

Samarth Pradhan